{deps, [
	    {mochiweb_xpath, ".*", {git, "git://github.com/retnuh/mochiweb_xpath.git", "master"}},
        {mochiweb, "2.*", {git, "git://github.com/mochi/mochiweb.git", "HEAD"}},
        {jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", "master"}},
        {ranch, ".*", {git, "git://github.com/extend/ranch.git", "master"}}
]}.

