{deps, [
	    {mochiweb_xpath, ".*", {git, "git://github.com/retnuh/mochiweb_xpath.git", "master"}},
        {mochiweb, "2.*", {git, "git://github.com/mochi/mochiweb.git", "HEAD"}},
        {protobuffs, ".*", {git, "git://github.com/basho/erlang_protobuffs.git", "master"}},
        {cowboy, ".*", {git, "https://github.com/extend/cowboy.git", "master"}},
        {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", "master"}},
        {iconv, ".*", {git, "https://github.com/erylee/erlang-iconv", "master"}}
]}.

