{deps, [
	    {mochiweb_xpath, ".*", {git, "git://github.com/retnuh/mochiweb_xpath.git", "master"}},
        {mochiweb, "2.*", {git, "git://github.com/mochi/mochiweb.git", "HEAD"}},
        {protobuffs, ".*", {git, "git://github.com/basho/erlang_protobuffs.git", "master"}},
        {ranch, ".*", {git, "git://github.com/extend/ranch.git", "master"}}
]}.

